.page__banner{
    padding:2em 0;
    background-color:#181818;
}

.page__banner h1,
.page__banner a{
    text-decoration:none;
    color:#CCC;
}

.page__banner a{
    font-weight:400;
    opacity:.8;
}

.page__banner--container{
    display:flex;
    justify-content:space-between;
}

.page__banner--links a:not(:last-child){
    margin-right:.5em;
    font-size:.95rem;
}

.page__banner--links a:not(:last-child)::after{
    content:'|';
    margin-left:.5em;
}